@media (max-width: 1200px) {
  .container {
    width: 860px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 820px;
  }
  .consultation {
    min-height: 550px;
    padding: 90px 0 92px 0;
  }
  .consultation__descr {
    margin-top: 65px;
  }
  .feedback__wrapper {
    margin-left: -10px;
  }
  .footer__info {
    padding: 40px 55px 55px 55px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 90%;
  }
  .consultation .container {
    width: 80%;
  }
  .container-catalog {
    width: 620px;
  }
  .promo h1 {
    font-size: 38px;
  }
  .promo h2 {
    font-size: 22px;
  }
  .advantages {
    padding: 55px 0;
  }
  .title {
    font-size: 28px;
  }
  .consultation .title-left {
    font-size: 34px;
  }
  .carousel_slider {
    max-width: 640px;
    height: 100%;
  }
  .catalog__tab {
    width: 200px;
  }
  .catalog {
    &-item {
      min-height: 300px;
      padding: 10px 18px 15px 18px;
      &__subtitle, &__descr {
        margin-top: 10px;
      }
      a {
        margin-top: 5px;
      }
      img {
        height: 185px;
      }
    }
  }
  .feedback {
    padding-top: 60px;
    &__wrapper {
      width: 850px;
      padding: 60px 0 40px 0;
    }
    .client-review {
      padding-left: 90px;
      margin-left: -10px;
    }
    &__client img {
      width: 160px;
      height: 160px;
      margin-left: 15px;
    }
  }
  .footer__info {
    padding: 35px 45px 45px 50px;;
  }
}

@media (max-width: 895px) {
  .header-logo {
    width: 194px;
    height: 100%;
  }
  .header__tel {
    font-size: 15px;
  }
  .promo {
    padding-bottom: 47px;
    h1 {
      font-size: 33px;
      margin-top: 84px;
    }
    h2 {
      font-size: 20px;
    }
    &__icons {
      display: none;
    }
    &__catalog {
      font-size: 14px;
    }
  }
  .button-main {
    width: 250px;
    height: 45px;
    font-size: 15px;
    margin-top: 52px;
  }
  .title {
    font-size: 27px;
    line-height: 35px;
  }
  .advantages {
    padding: 30px 0 44px 0;
    &__icon img {
      margin-top: 42px;
      height: 65px;
    }
  }
  .consultation {
    min-height: 414px;
    padding: 30px 0 25px 0;
  }
  .consultation .title-left {
    font-size: 25px;
  }
  .consultation__descr {
    margin-top: 17px;
    font-size: 17px;
  }
  .feed-form {
    margin-top: 27px;
    width: 275px;
    input {
      height: 45px;
      font-size: 13px;
    }
  }
  .button-submit {
    height: 50px;
    font-size: 15px;
    margin-top: 0;
  }
  .container-catalog {
    width: 620px;
  }
  .catalog__tabs {
    margin-top: 53px;
  }
  .catalog__tab {
    font-size: 17px;
  }
  .catalog__content {
    margin-top: 45px;
  }
  .feedback {
    margin-left: 0;
    &__wrapper {
      width: 100%;
    }
    .feedback__client .client-review__text {
      font-size: 15px;
    }
    .feedback__client img {
      margin-right: -15px;
    }
  }
  .footer__info {
    font-size: 17px;
    &-addr, &-tel {
      margin-bottom: 32px;
    }
  }
  .footer__socials-item {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 767px) {
  .header-logo {
    width: 194px;
    height: 100%;
  }
  .header__tel {
    font-size: 15px;
  }
  .promo {
    h1 {
      font-size: 33px;
      margin-top: 84px;
    }
    h2 {
      font-size: 20px;
    }
    &__icons {
      display: none;
    }
    &__catalog {
      font-size: 14px;
    }
  }
  .button-main {
    width: 250px;
    height: 45px;
    font-size: 15px;
    margin-top: 52px;
  }
  .advantages__icon {
    flex-basis: 200px;
    font-size: 13px;
    padding: 0 10px;
  }
  .consultation .title-left {
    font-size: 23px;
  }
  .catalog__tabs {
    margin-top: 45px;
  }
  .catalog__tab {
    width: 180px;
    height: 45px;
    font-size: 15px;
    line-height: 45px;
  }
  .catalog__content {
    margin-top: 35px;
  }
  .feedback__wrapper {
    margin-left: 0;
  }
  .feedback__client .client-review__name {
      font-size: 17px;
  }

}

@media (max-width: 640px) {
  .header {
    &-logo {
      width: 140px;
      height: 100%;
    }
    &__official {
      font-size: 10px;
      span {
        font-size: 15px;
      }
    }
    &__tel {
      font-size: 11px;
    }
  }
  .button-call {
    width: 120px;
    height: 23px;
    font-size: 9px;
    margin-top: 5px;
  }
  .promo {
    h1 {
      font-size: 26px;
      margin-top: 70px;
    }
    h2 {
      font-size: 16px;
      margin-top: 10px;
    }
    &__catalog {
      font-size: 13px;
    }
  }
  .button-main {
    width: 210px;
    height: 38px;
    font-size: 13px;
    margin-top: 45px;
  }
  .title {
    font-size: 23px;
    margin-bottom: 60px;
  }
  .advantages {
    padding: 20px 0 35px 0;
    &__icon img {
      margin-top: 22px;
      height: 60px;
    }
    &__icon {
      font-size: 11px;
    }
    &__icon span {
      font-size: 15px;
      margin: 20px 0 17px 0;
    }
  }
  .consultation {
    min-height: 320px;
    padding: 15px 0 20px 0;
  }
  .consultation .title-left {
    font-size: 20px;
    line-height: 28px;
  }
  .consultation__descr {
    margin-top: 14px;
    font-size: 15px;
  }
  .feed-form {
    margin-top: 19px;
    width: 250px;
    input {
      height: 40px;
      font-size: 11px;
      margin-bottom: 12px;
    }
  }
  .button-submit {
    height: 45px;
    font-size: 13px;
  }
  .container-catalog {
    width: 478px;
  }
  .catalog__content {
    justify-content: center;
  }
  .catalog__tabs {
    margin-top: 30px;
    flex-direction: column;
    position: relative;
  }
  .catalog__tab {
    width: 142px;
    height: 40px;
    font-size: 14px;
    line-height: 41px;
    margin: 0 3px;
  }
  .catalog__tab:first-child {
    position: absolute;
    bottom: 110%;
    right: 50%;
  }
  .catalog__tab:last-child {
    position: absolute;
    top: 110%;
    left: 50%;
  }
  .catalog__content {
    margin-top: 70px;
  }
  .feedback .feedback__client .client-review__text {
    font-size: 14px;
  }
  .feedback {
    padding-top: 40px;
    .title {
      margin-bottom: 0;
    }
    &__wrapper {
      padding: 35px 0 0 0;
    }
    &__client {
      img {
        width: 145px;
        height: 145px;
      }
      .client-review {
        padding: 0 0 40px 70px;
      }
      .client-review__achievement {
        font-size: 13px;
        padding: 8px 0 10px 0;
      }

      .client-review__text p {
        padding-bottom: 13px;
      }
    }
  }
  .footer__info {
    padding: 20px 30px 30px 30px;
    font-size: 14px;
  }
  .footer__socials-item {
    width: 35px;
    height: 35px;
    img {
      height: 20px;
    }
  }
  .footer__info-addr, .footer__info-tel {
    margin-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .header {
    justify-content: space-around;
  }
  .header__official {
    display: none;
  }
  .promo {
    padding-bottom: 22px;
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 13px;
    }
    &__catalog {
      font-size: 11px;
    }
  }
  .advantages__icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .advantages__icon {
    flex-basis: 310px;
    img {
      margin-top: 13px;
    }
  }
  .container-catalog {
    width: 319px;
  }
  .catalog__tab:first-child {
    right: 40%;

  }
  .catalog__tab:last-child {
    left: 40%;
  }
  .feedback .feedback__client .client-review__text {
    font-size: 14px;
  }
  .feedback__client  {
    .client-review {
      padding: 0 0 35px 45px;
      &____text p {
        padding-bottom: 11px;
      }
    }
    img {
      margin-left: 0;
      width: 120px;
      height: 120px;
    }
  }
  .footer__info {
    max-width: 100vw;
    padding: 15px 15px 22px 15px;
  }
  .footer__info-addr, .footer__info-tel {
    margin-bottom: 15px;
  }
}

@media (max-width: 320px) {
  .feedback .feedback__client img {
    width: 100px;
    height: 100px;
  }
  .feedback__client .client-review {
    padding-bottom: 30px;
  }
}