@media (max-width: 1224px) {
  .container {
    width: 860px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 820px;
  }
  .consultation {
    min-height: 550px;
    padding: 90px 0 92px 0;
  }
  .consultation__descr {
    margin-top: 65px;
  }
  .feedback__wrapper {
    margin-left: -10px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 800px;
  }
  .promo h1 {
    font-size: 38px;
  }
  .promo h2 {
    font-size: 22px;
  }
  .advantages {
    padding: 55px 0;
  }
  .advantages__icons {
    margin: 0 -20px;
  }
  .title {
    font-size: 28px;
  }
  .consultation .title-left {
    font-size: 34px;
  }
  .catalog__tab {
    width: 200px;
  }
  .feedback {
    padding-top: 60px;
    &__wrapper {
      width: 850px;
      padding: 60px 0 40px 0;
    }
    .client-review {
      padding-left: 90px;
    }
    &__client img {
      width: 160px;
      height: 160px;
    }
  }
  .footer__info {
    padding: 40px 55px 55px 55px;
  }
}

@media (max-width: 939px) {
  .container {
    width: 780px;
  }
  .consultation .title-left {
    font-size: 32px;
  }
  .container-catalog {
    width: 630px;
  }
  .feedback {
    margin-left: 0;
    &__wrapper {
      width: 812px;
    }
    &__client img {
      margin-right: -15px;
    }
  }
  .footer__info {
    padding: 35px 50px 50px 50px;
    font-size: 19px;
    &-addr, &-tel {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 884px) {
  .container {
    width: 735px;
  }
  .header__tel {
    font-size: 17px;
  }
  .promo h1 {
    font-size: 37px;
    margin-top: 84px;
  }
  .title {
    font-size: 27px;
  }
  .consultation .title-left {
    font-size: 32px;
  }
  .container-catalog {
    width: 630px;
  }
  .feedback {
    margin-left: 0;
    &__wrapper {
      width: 775px;
    }
    .feedback__client .client-review__text {
      font-size: 15px;
    }
    .feedback__client img {
      margin-right: -15px;
    }
  }
}

@media (max-width: 810px) {

}

@media (max-width: 767px) {

}

@media (max-width: 576px) {

}

@media (max-width: 320px) {

}