@import 'temp/slick.scss';
@import 'temp/fonts.scss';

html {
  font-family: 'Museo Sans', sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.container-catalog {
  width: 940px;
  margin: 0 auto;
}

@import 'temp/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'temp/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'temp/modals';
@import 'temp/media';